@import "tailwindcss";

@theme {
  --font-serif-tc: 'Noto Serif TC', serif;
  --font-sans-tc: 'Noto Sans TC', sans-serif;
}

/* Hide scrollbar but keep scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
